extends layout

block header
  .container
    header.header
      nav
        ul.nav.nav-pills.pull-right
      h3= "homeapp"


block content
  .container
    div#add_device= "+"
    h2= "connected devices"
    #devices

block footer
  footer.footer
    .container
      hr
      p= footer