extends layout

block header
  .big-header
    .container
      h1= title
      .row
        .col-sm-6
          .temp.
            20
        .col-sm-6
          .light.
            20


block content
  .container
    h2= "connected devices"

