doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block header
    block content
    block footer

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/homeapp.js")